body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF; /* Warna biru */
    color: #fff; /* Warna teks putih */
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3; /* Warna biru lebih gelap saat dihover */
}

#resultIP {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
